#container {
  position: relative;
}
#container > input {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.2;
}
#container > input:focus {
  /* when you click into text field */
  opacity: 0.7;
}

#container > textarea {
  position: fixed;
  top: 3.2em;
  left: 10px;
  opacity: 0.2;
  width: 70%;
  height: 60%;
  font-size: 18px;
}

#container > div#friend {
  position: absolute;
  top: 3em;
  left: 50%;
  opacity: 0.2;
  width: 50%;
  height: 60%;
}

#container > textarea:focus {
  /* when you click into text field */
  opacity: 0.7;
}

#instructions {
  visibility: hidden;
  border: 2px solid #e54b04;
  border-radius: 5px;
  padding: 6px;
  background-color: white;
  position: absolute;
  z-index: 100;
  margin-top: 5px;
  box-shadow: 2px 3px 5px #777;
}
#instructions p {
  margin: 0;
  margin-bottom: 0.2em;
}
.hoverhelp {
  cursor: help;
}
.hoverhelp:hover > #instructions {
  visibility: visible;
}

table#friends a {
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  padding: 1px 0.5em;
}
table#friends a:hover {
  background-color: #e54b04;
  color: white;
}

a.backtolist {
  color: white;
  background-color: #007bff;
  text-decoration: none;
  font-weight: bold;
  padding: 1px 1em;
  border-radius: 5px;
  border: 1px solid #0400ff;
  margin-right: 1em;
}
a.backtolist:hover {
  background-color: #e54b04;
}
a.backtolist:active {
  position: relative;
  top: -2px;
  left: -1px;
}
#updatepdf {
  float: right;
}
#updatepdf label {
  margin-right: 1em;
}
